<%- model_class = Note -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<div id="contents">
<ul class="row page">
    <%= render 'note_all_list' %>
</ul>
</div>
<div><%= paginate @note_item %></div>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_note_path,
            :class => 'btn btn-primary' %>
