<h1><%= @user.username %></h1>
<table id="notes" class="table table-striped">
    <tbody class="page">
    <%= render 'note' %>
  </tbody>
</table>
<%= paginate @notes %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_note_path,
            :class => 'btn btn-primary' %>
